<html>

<body>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="enter message">
        <input type="text" name="tag" placeholder="enter tag">
        <button type="submit" > Add</button>

    </form>
</div>
<div>Cписок сообщений</div>
{{#messages}}
    <div>
    <b>{{id}}</b>
    <span>{{text}}</span>
    <i>{{tag}}</i>
    </div>
{{/messages}}
</body>
</html>